#main-content {
    padding-left: min(40%, 300px);
}
#main-content-header {
    font-size: 24px;
    font-family: Inter-Bold, sans-serif;
}
.cards{
    width: 100%;
    background-color: #FDFDFF;
    height: 100px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px grey;
}