:root {
    --VIOLET: #5D688A;
    --PINK: #F7A5A5;
    --MOCHA: #FFDBB6;
    --WHITE: #FFF2EF;
}
@font-face {
    font-family: REM-Bold;
    src: url(fonts/REM-Bold.ttf);
}
@font-face {
    font-family: REM-Extralight;
    src: url(fonts/REM-Extralight.ttf);
}
@font-face {
    font-family: REM-Regular;
    src: url(fonts/REM-Regular.ttf);
}
@font-face {
    font-family: REM-Medium;
    src: url(fonts/REM-Medium.ttf);
}

body{
    background-color: var(--WHITE);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header{
    font-family: REM-Bold, sans-serif;
    font-size: 250px;
    color: var(--VIOLET);
    margin: 0;
}
#header-container{
    position: relative;
    margin-top: 10%;
    width: 60%;
    text-align: center;
    
}
#slogan{
    font-family: REM-Extralight, sans-serif;
    font-size: 45px;
    color: var(--VIOLET);
    margin: 0;
}
#slogan-container{
    list-style-type: none;
    left: 10%;
    width: 35%;
    position: relative;
}
#description{
    font-family: REM-Extralight, sans-serif;
    font-size: 25px;
    margin-top: 5%;
    color: var(--VIOLET);
    
}
#navbar{
    width: 100%;
    height: 80px;
    background-color: var(--WHITE);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    align-items: center;   
}
#get-started-button{
    padding: 10px 20px;
    font-size: 16px;
    font-family: REM-Medium, sans-serif;
    background-color: var(--PINK);
    color: var(--WHITE);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}
#about-us-button{
    padding: 10px 20px;
    font-size: 16px;
    font-family: REM-Medium, sans-serif;
    background-color: var(--MOCHA);
    color: var(--VIOLET);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    
}
#contact-us-button{
    padding: 10px 20px;
    font-size: 16px;
    font-family: REM-Medium, sans-serif;
    background-color: var(--VIOLET);
    color: var(--WHITE);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}