:root {
    --VIOLET: #5D688A;
    --PINK: #F7A5A5;
    --MOCHA: #FFDBB6;
    --WHITE: #FFF2EF;
}
@font-face {
    font-family: REM-Bold;
    src: url(fonts/REM-Bold.ttf);
}
@font-face {
    font-family: REM-Extralight;
    src: url(fonts/REM-Extralight.ttf);
}
@font-face {
    font-family: REM-Regular;
    src: url(fonts/REM-Regular.ttf);
}
@font-face {
    font-family: REM-Medium;
    src: url(fonts/REM-Medium.ttf);
}

body{
    background-color: var(--WHITE);
    margin: 0;
    background: linear-gradient(180deg, #FFF2EF 0%, #FFDBB6 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header{
    font-family: REM-Bold, sans-serif;
    font-size: 250px;
    color: var(--VIOLET);
    margin: 0;
    
}
#header-container{
    margin-top: 12%;
    text-align: center;
    position: absolute;
    margin-left: 10%;
    background-color: yellow;
}
#slogan{
    font-family: REM-Extralight, sans-serif;
    font-size: 40px;
    color: var(--VIOLET);
    margin: 0;
}
#slogan-container{
    background-color: white;
    margin-left: 15%;
    margin-top: -10%;
    width: 35%;
}
#description{
    font-family: REM-Extralight, sans-serif;
    font-size: 20px;
    margin-top: 5%;
    color: var(--VIOLET);
    
}
#key{
    margin-top: 6%;
    background-color: green;
}